:root {
	--primary-color: #3066be;
	--buttons: #c08930;
	--text: #e6e8e6;
}

html {
	font-size: 1.2rem;
	font-family: "Montserrat", sans-serif;
	overflow-x: hidden;
}

body {
	background-color: #1d3b6b;
	color: var(--text);
	text-align: center;
}

header {
	word-break: break-word;
}
header img {
	width: clamp(3rem, 10vw, 8rem);
	height: auto;
}
header,
nav,
main,
footer {
	width: 100%;
	max-width: min(90%, 56.25rem);
	margin-inline: auto;
}

header,
footer {
	background-color: var(--text);
	color: var(--primary-color);
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
}

section a {
	background-color: var(--text);
	color: black;
	padding: 0.5rem;
	text-decoration: none;
	border-radius: 1rem;
	margin: 2rem;
	transition: 0.3s;
}

a:hover {
	transform: scale(1.2);
}

nav {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
}

nav a {
	background-color: var(--buttons);
	color: var(--text);
	padding: 1rem;
	text-decoration: none;
	border-radius: 1rem;
	margin: 1rem 0;
	transition: 0.2s;
}

img {
	max-width: 100%;
	height: auto;
}

body ul {
	list-style-position: inside;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	gap: 1rem;
}

.gallery .images {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.gallery .images img {
	flex: 1 1 clamp(8rem, 33%, 20rem);
	height: auto;
}

.math-expression {
	background-color: rgba(63, 66, 71, 0.94);
	padding: 1rem;
	border: 2px solid black;
	border-radius: 1rem;
}

.section-math {
	background-color: var(--primary-color);
	padding: 1rem;
	border: 2px solid black;
}

main .main-section {
	display: flex;
	flex-direction: column;
	margin-top: 1rem;
	gap: 1rem;
}

.fontes {
	align-items: center;
	justify-content: center;
	text-align: center;
}

.fontes .links {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;
}
